* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
    font-weight: normal;
}

body {
    display: grid;
    height: 100vh;
    grid: repeat(5, 1fr) / repeat(5, 1fr);
    grid-template-areas: 
        "nav header header header header"
        "nav main   main   main   main  "
        "nav main   main   main   main  "
        "nav main   main   main   main  "
        "nav main   main   main   main  ";
}

/* NAV STYLES */
nav {
    grid-area: nav;
    padding: 1rem;
    background-color: rgb(0, 161, 214);
    color: white;
    display: flex;
    flex-direction: column;
    gap: 70px;
}

nav > .dashboard {
    display: flex;
    align-items: center;
    gap: 10px;
}

nav > .dashboard > h1 {
    font-size: 2.5rem;
}

nav > .nav {
    display: grid;
    grid: 1fr / 2rem 1fr;
    grid-template-areas: 
        "svg name";
    flex-direction: column;
    gap: 20px;
    font-size: 1.5rem;
    padding-left: 25px;
}

nav > .nav > a {
    text-decoration: none;
    color: inherit;
}

nav > .nav > svg,
.search-bar > svg,
.notif > svg {
    fill: currentColor;
    width: 1.7rem;
    height: 1.7rem;
}



/* HEADER SYLES */
/* top half */
header {
    grid-area: header;
    box-shadow: 8px 0px 8px 4px rgba(0,0,0,0.33);
}

.search-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.search-bar, .notif {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 70px 0 70px;
    flex-grow: 1;
    gap: 1.5rem;
}

.search-bar > #search-input {
    border-radius: 40px;
    border: none;
    background-color: rgb(206, 214, 215);
    flex-grow: 1;
    height: 35px;
}
/* top half */
/* bottom half */
.hero {
    display: flex;
    padding: 20px 0 20px 70px;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
}

.user-name {
    flex-grow: 1.5;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero-buttons{
    display: flex;
    gap: 1.5rem;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

.hero-buttons > button {
    background-color: rgb(35, 150, 221);
    color: white;
    border: none;
    width: 120px;
    height: 45px;
    font-size: 1.2rem;
    border-radius: 40px;
}


/* MAIN STYLES */
main {
    border: 1px solid red;
    grid-area: main;
}